# Java

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# VSCode
*.prettierrc
.vscode/

# Model Files
*.prm
*.lbl

# Project
bin/
sources.txt
.DS_Store

# Alize and SPro
src/resources/audioFiles/client/model/RecognitionResult.txt

src/main/exe/comparison/ComputeTest
src/main/exe/comparison/ndx/Liste.ndx

src/main/exe/model/EnergyDetector
src/main/exe/model/NormFeat
src/main/exe/model/TrainWorld
src/main/exe/model/TrainTarget
src/main/exe/model/sfbcep
src/main/exe/model/lst/Liste.lst
